<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show_user_curd.css') }}">
    <title>show User</title>
</head>
<body>
    <div class="container">
        <h2>User {{user.id}} <span><a href="/users">Home</a></span></h2>
        <div class="list">
            <ul>
                <li>Full Name: {{user.first_name}} {{user.last_name}}</li>
                <li>Email: {{user.email}}</li>
                <li>Created on: {{user.created_at}}</li>
                <li>Last Updated on: {{user.updated_at}}</li>
            </ul>
        </div>
        <div class="footer">
            <a href="/users/{{user.id}}/edit">Edit | </a>
            <a href="/users/{{user.id}}/delete">Delete</a>
        </div>
    </div>
</body>
</html>