#twice{
    background-color: pink;
    padding:5px;
    font-weight: bold;
    text-decoration: none;
    width: 5px;
}
#reset{
    background-color:lightgreen;
    padding:5px;
    font-weight: bold;
    text-decoration: none;
    width: 5px;
}
.button{
    margin-top: 30px;

}