.container{
    width:60%;
    margin:auto;
    border:1px solid lightgray;
    text-align: left;
}

.footer{
    margin-top: 20px;
}

.list{
    border:1px solid black;
    width:60%;
}

span{
    font-size: 15px;
    margin-left:650px;
}

a{
    margin-left:10px;
}

ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 10px 5px;
  }

li{
    padding:10px;
}