.container{
    width:60%;
    margin:auto;
    border:1px solid lightgray;
    text-align: left;
}

.button{
    margin-top:30px;
    height:30px;
    width:80px;
    box-shadow: 3px 3px 1px black;
    font-size: large;
    display:inline;
}

a{
    margin-left:100px;
}
label, input{
    display:block;
    margin-top: 10px;
}

span{
    margin-left:500px;
    font-size: 15px;
}

