<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_edit_curd.css') }}">
    <title>User Edit</title>
</head>
<body>
    <div class="container">
        <h2>Edit User {{user_id}} <span><a href="/users">Home</a></span></h2>
        <form action="/users/update/{{user_id}}" method = "post">
            <label for="first_name">First Name: </label>
            <input type="text" name ="first_name">
            <label for="last_name">Last Name: </label>
            <input type="text" name ="last_name">
            <label for="email">Email: </label>
            <input type="text" name ="email">
            <input class="button" type="submit" value="Update">
            <a href="/users/{{user_id}}">Show User</a>
        </form>
    </div>
</body>
</html>