<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_recipe_style.css') }}">
    <title>Edit Recipe</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <h2>Edit Recipe</h2>
            <div class="navlink">
                <a href="/recipes">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="main">
            <form action="/recipes/update" method = "post">
                <section>
                    <label for="name">Name: </label>
                    <input type="text" name="name" value="{{recipe[0].name}}">
                </section>
                <section>
                    <label for="description">Description: </label>
                    <textarea name="description" id="description" cols="20" rows="3">
                        {{recipe[0].description}}
                    </textarea>
                </section>
                <section>
                    <label for="instruction">Instruction: </label>
                    <textarea name="instruction" id="instruction" cols="30" rows="10">
                        {{recipe[0].instruction}}
                    </textarea>
                </section>
                <section>
                    <p>Under 30 mins: </p>
                    {% if recipe[0].under_30min=="Yes" %}
                        <input type="radio" id="yes" value="Yes" name="under_thirtymin" checked>
                        <label for="check">Yes</label>
                        <input type="radio" id="no" value="No" name="under_thirtymin">
                        <label for="check">No</label>
                    {% else %}
                        <input type="radio" id="yes" value="Yes" name="under_thirtymin">
                        <label for="check">Yes</label>
                        <input type="radio" id="no" value="No" name="under_thirtymin" checked>
                        <label for="check">No</label>
                    {% endif %}
                </section>
                <input class="button" type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>