<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show_recipe_style.css') }}">
    <title>Show Recipe</title>
</head>
<body>
    <div class="container">
        <h2>{{recipe[0].name}}</h2>
        <table>
            <tbody>
                <tr>
                    <td>Description:</td>
                    <td>{{recipe[0].description}}</td>
                </tr>
                <tr>
                    <td>Under 30 mins:</td>
                    <td>{{recipe[0].under_30min}}</td>
                </tr>
                <tr>
                    <td>Instructions: </td>
                    <td>{{recipe[0].instruction}}</td>
                </tr>
            </tbody>
        </table>
        <a class="button" href="/recipes">Go Back</a>
    </div>
</body>
</html>