h2{
    text-decoration: underline;
}

a{
    height:30px;
    width:100px;
    box-shadow: 5px 5px black;
    font-size: 15px;
    font-weight: bold;
    background-color: #00adb5;
    margin: 40px 0px 0px 270px
}

.container{
    height:300px;
    width:400px;
    border: 1px solid black;
    padding:10px;
    margin:auto;
}

#name {
    padding-left: 150px;
}

#location {
    padding-left: 95px;
}

#language {
    padding-left: 75px;
}

#comment {
    padding-left: 125px;
}