.container{
    width:80%;
    border:1px solid black;
    margin: auto;
    background-color:lightgray;
}

.main{
    display: flex;
    align-items: top;
    justify-content: space-around;
}

fieldset{
    margin-top: 10px;
    border:none;
    padding-left:0px;
}