<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/author_show_style.css') }}">
    <title>Author Show</title>
</head>
<body>
    <div class="container">
        <div class="author_fav">
            <h2>{{author[0].name}}'s favorates</h2>
            {% if authors_favs | length >0%}
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th># of pages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fav in author_favs %}
                            <tr>
                                <td>{{fav.title}}</td>
                                <td>{{fav.num_of_pages}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}    
            <a href="/authors">Home</a>
        </div>
        <div class="add_author_fav">
            <h2>Add Author's Favorate</h2>
            <form action="/authors/add_author_fav" method="post">
                <section>
                    <label for="book">Book: </label>
                    <select name="book_select" id="book_select">
                        {% for book in book_list_not_fav %}
                            <option value="{{book.id}}">{{book.title}}</option>
                        {% endfor %}
                    </select>
                </section>
                <section class="button">
                    <input type="submit" value="Add">
                </section>
            </form>
        </div>
    </div>
</body>
</html>