<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_message_style.css') }}">
    <title>Display Message</title>
</head>
<body>
    <div class="container">
        <h3>From {{message[0].username}} </h3>
        <p>sent at {{message[0].created_at}}</p>
        <p>Title: {{message[0].title}}</p>
        <textarea name="message" id="message" cols="50" rows="10">{{message[0].content}}</textarea>
        <section>
            <a href="/dashboard">Go Back</a>
        </section>
    </div>
</body>
</html>