<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/display_post_style.css') }}">
    <title>Display Post</title>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}      
            {% if messages %}                             
                {% for message in messages %}             
                    <p>{{message}}</p>                    
                {% endfor %}
            {% endif %}
        {% endwith %}
        <header>
            <p>{{post[0].purpose}} >> {{post[0].category}} >> {{post[0].state}} >> {{post[0].city}}</p>
            <nav>
                <section>
                    <a href="/create_post">New Post</a>
                    <a href="/post/{{post[0].id}}/follow">Reply</a>
                </section>
                <section>
                    <a href="/post/{{post[0].id}}/go_back">Go Back</a>
                </section>
            </nav>
            <p>Total reply: {{total_follows[0].total_posts_followed}}</p>
        </header>
        <div class="main">
            <h4>{{post[0].title}}</h4>
            <table>
                <thead>
                    <tr>
                        <th>user_info</th>
                        <th>post_info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="post_owner">
                                <section>
                                    <p>{{post[0].username}}</p>
                                </section>
                                <a href="/send_message/{{post[0].account_id}}">Send Message</a>
                            </div>
                        </td>
                        <td>
                            <div class="post_body">
                                <section class="post_header">
                                    <p>{{post[0].username}} post at {{post[0].created_at}}</p>
                                </section>
                                <section class="post_content">
                                    <p>{{post[0].description}}</p>
                                </section>
                            </div>
                        </td>
                    </tr>
                    {% if post_follows | length >0 %}
                        {% for follow in post_follows %}
                            <tr>
                                <td>
                                    <div class="post_owner">
                                        <section>
                                            <p>{{follow.username}}</p>
                                        </section>
                                        <a href="/send_message/{{follow.account_id}}">Send Message</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="post_body">
                                        <section class="post_header">
                                            <p>{{follow.username}} reply at {{follow.created_at}}</p>
                                        </section>
                                        <section class="post_content">
                                            <p>{{follow.content}}</p>
                                        </section>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <footer>
            <nav>
                <section>
                    <a href="/create_post">New Post</a>
                    <a href="/post/{{post[0].id}}/follow">Reply</a>
                </section>
                <section>
                    <a href="/post/{{post[0].id}}/go_back">Go Back</a>
                </section>
            </nav>
        </footer>
    </div>
</body>
</html>