<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_post_style.css') }}">
    <title>New Post</title>
</head>
<body>
    <div class="container">
        <h3>Create a New Post</h3>
        <div class="main">
            <form action="" method="post">
                <section>
                    <label for="purpose">What is your purpose to post?</label>
                    <select name="purpose" id="purpose">
                        <option value="look_for_job">look for a position or job</option>
                        <option value="provide_position">provide position or request service</option>
                    </select>
                </section>
                <section>
                    <label for="category">Choose a service category: </label>
                    <select name="service_category" id="service_category">
                        <option value="education">education</option>
                        <option value="living">living</option>
                        <option value="traveling">traveling</option>
                        <option value="friends">friends</option>
                        <option value="sports">sports</option>
                        <option value="tech">tech</option>
                    </select>
                </section>
                <section>
                    <fieldset>
                        <legend>
                            <label for="address">Address</label>
                        </legend>
                        <input type="text" name="address">
                    </fieldset>
                    <fieldset>
                        <legend>
                            <label for="city">City</label>
                        </legend>
                        <input type="text" name="city">
                    </fieldset>
                    <fieldset>
                        <legend>
                            <label for="state">State</label>
                        </legend>
                        <input type="text" name="state">
                    </fieldset>
                    <fieldset>
                        <legend>
                            <label for="zip">Zip Code</label>
                        </legend>
                        <input type="text" name="zip">
                    </fieldset>
                </section>
                <section>
                    <label for="price">Price</label>
                    <input type="text" name="price">
                </section>
                <section>
                    <label for="title">Title</label>
                    <input type="text" name="title">
                </section>
                <section>
                    <textarea name="description" id="description" cols="50" rows="10">No more than 500 characters...</textarea>
                </section>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
</body>
</html>