<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post_follow_style.css') }}">
    <title>Post Follwing</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <h3>RE: {{post_title}}</h3>
            <form action="" method="post">
                <textarea id="post_follwing" rows="5" cols="50">No more than 250 characters...</textarea>
                <input type="submit" value="Follow">
            </form>
        </div>
    </div>
</body>
</html>