<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post_follow_style.css') }}">
    <title>Post Follwing</title>
</head>
<body>
    <div class="container">
        <div class="main">
            {% with messages = get_flashed_messages() %}      
                {% if messages %}                             
                    {% for message in messages %}             
                        <p>{{message}}</p>                    
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h3>RE: {{post[0].title}}</h3>
            <form action="/post/{{post[0].id}}/follow_validate" method="post">
                <textarea name="post_follwing" id="post_follwing" rows="5" cols="50">No more than 250 characters...</textarea>
                <input type="submit" value="Follow">
            </form>
            <a href="/post/{{post[0].id}}">Go Back</a>
        </div>
    </div>
</body>
</html>