<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/send_message_style.css') }}">
    <title>Send Message</title>
</head>
<body>
    <div class="container">
        <h3>Send Message: </h3>
        <div class="main">
            <form action="/send_message/{{sent_to_id}}/message_validate" method="post">
                <fieldset>
                    <legend>
                        <label for="sent_to">Sent To</label>
                    </legend>
                    <input type="text" name = "sent_to" value="{{sent_to_username[0].username}}">
                </fieldset>
                <fieldset>
                    <legend>
                        <label for="title">Title</label>
                    </legend>
                    <input type="text" name = "title">
                </fieldset>
                <fieldset>
                    <legend>
                        <label for="content">Message</label>
                    </legend>
                    <textarea name="content" id="content" cols="50" rows="10">No more than 150 characters...</textarea>
                </fieldset>
                <input type="submit" value="Send">
            </form>
            <a href="/dashboard">Go Back</a>
        </div>
    </div>
</body>
</html>